.slideshowContainer {
    background-color: black;
    display: flex;
    justify-content: center; /* center horizontally */
    align-items: center;     /* center vertically */
    height: 100vh;           /* full viewport height */
    width: 100vw;            /* full viewport width */
    overflow: hidden;
}

.slideshowContent {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center children vertically */
    align-items: center;     /* Center children horizontally */
    width: 1100px;          /* fixed width */
    max-width: 100%;        /* responsive fallback */
    /*max-height: 95vh; !* Adjust this value to leave some margin if needed *!*/
    max-height: 100vh; /* Adjust this value to leave some margin if needed */
}


.fadeOut {
    opacity: 0;
    transition: opacity 2s ease;
}

.fadeIn {
    opacity: 1;
    transition: opacity 2s ease;
}

