
/*Glow effects around TerminCard component*/
/*########################################*/

/* Pupille Glow */
.pupille-glow {
    box-shadow: 0px 0px 150px -45px rgba(255, 208, 54, 0.6); /* RGBA of #FFD036 with 0.6 opacity */
}
.pupille-glow:hover {
    box-shadow: 0px 0px 120px -55px rgba(255, 208, 54, 0.6); /* RGBA of #FFD036 with 0.6 opacity */
}

/* Teal Glow */
.teal-glow {
    box-shadow: 0px 0px 150px -45px rgba(19, 160, 134, 0.6);
}
.teal-glow:hover {
    box-shadow: 0px 0px 120px -55px rgba(19, 160, 134, 0.6);
}

/* Gold Glow */
.gold-glow {
    box-shadow: 0px 0px 150px -45px rgba(199,147,75, 0.7);
}
.gold-glow:hover {
    box-shadow: 0px 0px 120px -55px rgba(199,147,75, 0.7);
}

/* Red Glow */
.red-glow {
    box-shadow: 0px 0px 150px -45px rgba(255, 51, 0, 0.5);
}
.red-glow:hover {
    box-shadow: 0px 0px 120px -55px rgba(255, 51, 0, 0.5);
}

/* Red Glow */
.red-glow {
    box-shadow: 0px 0px 150px -45px rgba(255, 0, 0, 0.6);
}
.red-glow:hover {
    box-shadow: 0px 0px 120px -55px rgba(255, 0, 0, 0.6);
}

/* Orange Glow */
.orange-glow {
    box-shadow: 0px 0px 150px -45px rgba(255, 165, 0, 0.6);
}
.orange-glow:hover {
    box-shadow: 0px 0px 120px -55px rgba(255, 165, 0, 0.6);
}

/* Yellow Glow */
.yellow-glow {
    box-shadow: 0px 0px 150px -45px rgba(255, 255, 0, 0.6);
}
.yellow-glow:hover {
    box-shadow: 0px 0px 120px -55px rgba(255, 255, 0, 0.6);
}

/* Green Glow */
.green-glow {
    box-shadow: 0px 0px 150px -45px rgba(0, 128, 0, 0.6);
}
.green-glow:hover {
    box-shadow: 0px 0px 120px -55px rgba(0, 128, 0, 0.6);
}

/* Blue Glow */
.blue-glow {
    box-shadow: 0px 0px 150px -45px rgba(0, 0, 255, 0.6);
}
.blue-glow:hover {
    box-shadow: 0px 0px 120px -55px rgba(0, 0, 255, 0.6);
}

/* Indigo Glow */
.indigo-glow {
    box-shadow: 0px 0px 150px -45px rgba(75, 0, 130, 0.6);
}
.indigo-glow:hover {
    box-shadow: 0px 0px 120px -55px rgba(75, 0, 130, 0.6);
}

/* Violet Glow */
.violet-glow {
    box-shadow: 0px 0px 150px -45px rgba(238, 130, 238, 0.6);
}
.violet-glow:hover {
    box-shadow: 0px 0px 120px -55px rgba(238, 130, 238, 0.6);
}

/*Zoom effect on TerminCard Component*/
/*###################################*/

/* Zoom effect on hover */
.zoom-effect {
    transition: all 0.4s; /* Smooth transition */
}

.zoom-effect:hover {
    transform: scale(1.02); /* Slight zoom */
    transition: all 0.4s; /* Ensure smooth transition during hover */
}


/*Tiny box for display of film duration or format*/
/*###############################################*/

/*.duration-box {*/
/*    display: inline-block;*/
/*    margin-top: 10px;*/
/*    color: #fff;*/
/*    padding: 5px;*/
/*    border-radius: 5px;*/
/*    border: 1px solid rgba(255, 255, 255, 0.13);*/
/*}*/

.duration-box {
    display: inline-block;
    /*margin-top: 10px;*/
    color: #FFD036;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #FFD036;

    font-size: 12px;
}