/*Glow effects used here are set in TerminFilmGalleryCard.css*/

/* For embedded youtube video within <Card.Text> */
/*###############################################*/

.style-video-in-card iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    border: 0;
    border-radius: 5px;
    display: block;
}
