.terminFilm-card{
    background-color: #0D0D0C;
    border-radius: 15px;
    overflow: hidden;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.terminFilm-card-header {
    color: #FFD036;
    background-color: inherit;
    border-bottom: inherit;
    text-align: right;
}

.add-to-calendar-button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1.0rem;
}

.program-title {
    color: #FFD036;
    margin-top: 1.0rem;
    margin-bottom: 1.0rem;
}

.program-text {
    color: #cfd6e1;
}

.program-besonderheit {
    color: #cfd6e1;
    border-top: 2px dotted #FFD036;
    border-bottom: 2px dotted #FFD036;
    padding: 0.5rem 0em;
}