/* PreviewShow.module.css */

/* Slideshow Container Styles */
.slideshowContainer {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    padding: 2vh 2vw;
    box-sizing: border-box;

    /*background image*/
    background-image: url('../../assets/images/sideBackgroundA.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slideshowContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1100px;
    height: auto;
    transition: opacity 2s ease;
}

/* Fade Animation Styles */
.fadeOut {
    opacity: 0;
}

.fadeIn {
    opacity: 1;
}

/* Override external styles to ensure proper scaling */
.slideshowContent :global(.custom-card) {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    transition: box-shadow 0.4s ease;
}

.slideshowContent :global(.image-aspect-ratio-container) {
    position: relative;
    width: 100%;
    overflow: hidden;
}

/* Prevent text overflow */
.slideshowContent :global(.card-kurztext),
.slideshowContent :global(.card-besonderheit) {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Ensure image maintains aspect ratio */
.slideshowContent :global(.image-aspect-ratio-container img) {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* Styling for the top hover bar */
/*###############################*/
.topHoverBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 44px; /* Adjust the height of the bar */
    background-color: red;
    z-index: 9999; /* Increased z-index to ensure it's on top of everything */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
}
