.app-container {
  color: whitesmoke;
  background-color: #1e2328;
  min-height: 100vh; /* Ensure it covers the entire viewport height */
  /* You can also add other styles here, like padding, etc. */
}

